*.pydevproject
.metadata
.gradle
tmp/
*.tmp
*.swp
*~.nib
*.zip
.ropeproject
*.pyc
.settings/
.loadpath
.DS_Store
/.idea
/fdc_predict.iml
/spark_flow_baolei_yangdongyue.py
.cache/
/data
/forecast/recommend/data
/forecast/recommend/models
/outputs
forecast/recommend/submit
forecast/recommend/*.ipynb
forecast/recommend/*.ipynb*
forecast/code
